# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Epi's Blog
subtitle: ""
description: ad astra per aspera
keywords:
author: Epi
language: en
timezone: ""

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: http://blog.episvr.top
permalink: :year/:month/:day/:name/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ""
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
syntax_highlighter: highlight.js

highlight:
  auto_detect: false
  line_number: true
  line_threshold: 0
  tab_replace: ""
  exclude_languages:
    - mermaid

  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  line_threshold: 0
  tab_replace: ""

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ""
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: "mtime"

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repo: https://github.com/episvr/episvr.github.io.git
  branch: master

# Feed RSS
feed:
  enable: true
  type: atom
  path: atom.xml
  limit: 3
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:


markdown: markdown-it-plus
plugins:
  - "@traptitech/markdown-it-katex"

#mathjax
mathjax:
  tags: none
  single_dollars: true
  cjk_width: 0.9
  normal_width: 0.6
  append_css: true 
  every_page: false

# Waline
# For more information: https://waline.js.org, https://github.com/walinejs/waline
waline:
  enable: true
  # Waline server address url, you should set this to your own link
  serverURL: https://comment.episvr.top/
  libUrl: https://unpkg.com/@waline/client@3.5.1/dist/waline.umd.js
  cssUrl: https://unpkg.com/@waline/client@v3.1.3/dist/waline.css
  emoji:
  - https://github.elemecdn.com/@waline/emojis@1.2.0/tieba/ 
  - https://github.elemecdn.com/@waline/emojis@1.2.0/bilibili/
  - https://github.elemecdn.com/@waline/emojis@1.2.0/qq/
  - https://github.elemecdn.com/@waline/emojis@1.1.0/weibo
  - https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-gif
  locale: {
    nick: '昵称',
    mail: '邮箱',
    link: '网址',
    placeholder: '你的评论是我最大的动力',
    anonymous: '匿匠',
    login: '登录'
  }
  search: false
  reaction: 
    - /img/comment/reaction1.gif
    - /img/comment/reaction2.gif
    - /img/comment/reaction3.gif
    - /img/comment/reaction4.gif
    - /img/comment/reaction5.gif
    - /img/comment/reaction6.gif
  avatar: mp
  # meta: [nick, mail, link] 
  pageSize: 10 
  lang: zh-cn
  # Warning: 不要同时启用 `waline.visitor` 以及 `leancloud_visitors`.
  visitor: false 
  comment_count: false
  requiredFields: [] 